*{
    /* border: 2px solid blue; */
}
:root{
    --color:#CDA45E;
    --fontfamily1:"Open Sans",sans-serif;
    --fontfamily2:"Playfair Disaply", sans-serif;
}
.title{
    position: relative;
    width: 100%;
    padding: 20px 0;
}
.title p{
    color: #AAAAAA;
    margin: 0;
    padding: 5px 0;
}
.title .line{
    /* content: ""; */
    width: 50px;
    background: #625b4b;
    height: 1px;
    margin-top: 16px;
    margin-left: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .title p::after{
    content: "";
    width: 70px;
    height: 4px;
    position: absolute;
    top: 15px;
    left: 68px;
    background: #cda45e;
} */
.title h4{
    color: #cda45e;
    padding-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    font-weight: 700;
}
.bar p{
    font-family: var(--fontfamily1);
    color: #fff;
    font-size: 14px;
}
.bar a{
    text-decoration: none;
    color: #cda45e;
}
@media (max-width:576px){
    .bar p{
        font-size: 10px;
    }
}
.navContainer{
    background: linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)) ,url(img/hero-bg.jpg);
    background-position: center center;
    /* position: ; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.navContainer::before{
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.nav{
    background: rgba(0, 0, 0, 0.322);
    opacity: 0.9;
    width: 100%;
    z-index: 1;
}
nav{
    background: transparent;
}
.nav-item .active{
    color: #cda45e !important;
}
.nav-item a{
    color: #fff;
}
nav .navbar-brand{
    font-weight: 500;
    text-transform: uppercase;
    font-size: "Poppins", sans-serif !important;
    font-size: 20px;
}
nav .btn{
    background: transparent !important;
    border: 1px solid #cda45e;
    color: #fff;
    border-radius: 20px;
    padding: 5px 25px;
}
nav .btn:hover{
    border: 1px solid #cda45e !important;
    background: #cda45e !important;
    color: #fff !important;
}
nav li a:hover{
    color: #cda45e !important;
}
.navbar-nav{
    font-family: var(--fontfamily1);
    color: #fff;
}
/* .fa-bars{
    color: #AAAAAA !important;
    outline:#AAAAAA !important;
} */
.navbar-toggler i{
    color: #AAAAAA !important;
    border: #AAAAAA;
  /* font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s; */
}
  

.jumbotron{
    /* margin: 30px 0; */
}
.jumbotron h5{
    font-size: 3rem;
    font-weight: bolder;
    font-family: var(--fontfamily1);
}
.jumbotron p{
    font-family: var(--fontfamily2);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}
.jumbotron span{
    color: #cda45e;
}
.jumbotron .row{
    min-height: 80vh;
}
.jumbotron .btn{
    background: transparent !important;
    border: 1px solid #cda45e;
    color: #fff;
    font-family: var(--fontfamily1);
    padding: 5px 25px;
    border-radius: 20px;
}
.jumbotron .btn:hover{
    border: 1px solid #cda45e !important;
    background: #cda45e !important;
    color: #fff !important;
}
.nav-item a{
    text-decoration: none;
}
.jumbotron .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#cda45e 50%, rgba(205, 164, 94, 0.4) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
}
  
.jumbotron .play-btn::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
  
.jumbotron .play-btn::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation: pulsate-btn 2s;
    animation-direction: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 5px solid rgba(205, 164, 94, 0.7);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}
  
.jumbotron .play-btn:hover::after {
    border-left: 15px solid #cda45e;
    transform: scale(20);
}
  
.jumbotron .play-btn:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    animation: none;
    border-radius: 0;
}
@media (max-width:768px){
    .jumbotron .row{
        text-align: center;
    }
}
@media(max-width:576px){
    .jumbotron h5{
        font-size: 2.5rem;
        
    }
}

/* aboutContainer */
.aboutContainer{
    background:linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)) , url(img/about-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.aboutContainer img{
    border: 5px solid hsla(210, 16%, 34%, 0.425) ;
    /* transition: all step-start ease 0.2; */
    transition: all ease-in-out 0.4s;
    margin: 20px 0;
}
.aboutContainer .img{
    /* border-right: 3px solid #454035;
    border-bottom: 3px solid #454035; */
    overflow: hidden;
}

.aboutContainer .img:hover img{
    transform: scale(1.1);
    /* filter: brightness(100%); */
}
.aboutContainer h4{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--fontfamily2);
}
.aboutContainer p{
    font-family: var(--fontfamily1);
    line-height: 26px;
}
.about-ul li{
    list-style: none;
    font-family: var(--fontfamily1);
    font-size: 16px;
    font-weight: 500;
}
.about-ul li i{
    border: 1px solid #CDA45E;
    color: #CDA45E;
}
@media (max-width:578px){
    .aboutContainer .row{
        padding: 0 !important;
    }
    .aboutContainer h4{
        font-size: 20px;
        
    }
}



/* .UsContainer */
.UsContainer{
    background: #0c0b09;
    padding: 30px 0;
    
}
.UsContainer .us-card{
    background: #1A1814;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
}
.UsContainer .us-card h3{
    font-size: 2rem;
    font-family: var(--fontfamily1);
    color: #cda45e;
}
.UsContainer .us-card h4{
    color: rgba(255, 255, 255, 0.8);
    font-family: var(--fontfamily2);
    font-size: 24px;
}
.us-card p{
    color: #fff;
    font-size: 15px;
    font-family: var(--fontfamily1);
}

.UsContainer .us-card:hover{
    background: #cda45e;
    padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}
.UsContainer .title:hover{
    /* padding: 100px; */
}
.us-card:hover p, .us-card:hover h3{
    color: #fff;
}
@media (max-width:578px){
    .UsContainer{
        background: #0c0b09;
        padding: 10px 0;
    }
    .UsContainer .row .col-lg-4{
        margin: 0;
    }
    .UsContainer .us-card h4{
        margin: 5px 0;
    }
}

/* menuContainer */
.menuContainer{
    background: #1a1814;
}
.menu-content{
    margin: 10px 0;
    
}
.menu-content img{
    width: 60px;
    border: 3px solid #625b4b;
    border-radius: 50px;
}
.menu-content .test .num{
    color: #cda45e;
}
.menu-content .test h5{
    color: #fff;
    font-family: var(--fontfamily1);
    font-size: 16px;
}
.menu-content .test p{
    color: #AAAAAA;
    font-weight: 600;
    font-size: 14px;
    font-family: "Poppines ",sans-serif;
}
@media (max-width:576px){
    .menu-content .img{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-content img{
        width: 40px;
    }
    .menu-content .test .num{
        color: #cda45e;
    }
    .menu-content .test h5{
        color: #fff;
        font-family: var(--fontfamily1);
        font-size: 14px;
    }  
    .menu-content .test p{
        font-size: 10px;
    } 
}



/* SpecialContainer */
.SpecialContainer{
    background: #0c0b09;
}
.SpecialContainer .nav{
    background: transparent !important;
    border-right: 2px solid darkgoldenrod !important;
}
.SpecialContainer .nav-link{
    border-radius: 2px;
    color: #fff;
    font-size: 15px;
    font-family: var(--fontfamily1);
}
.SpecialContainer .nav-link:hover{
    color: darkgoldenrod;
}
.SpecialContainer .nav-link.active{
    background-color: darkgoldenrod !important;
    border-radius: 0;
}

.SpecialContainer .tab-content h5{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.SpecialContainer .tab-content p{
    color: #AAAAAA;
    font-family: var(--fontfamily1);
}

/* eventsContainer */
.eventsContainer{
    background: linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)) , url(img/events-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
}
.new .carousel-indicators{
    /* position: relative;
    top: 20px; */
    margin-top: 130px !important;
}
.even p{
    color: #fff;
}
.even ul li{
    list-style: none;
    color: #fff;
}
.even h5{
    color: #CDA45E;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}
.even h3::after{
    position: absolute;
    background: #CDA45E;
    content: "";
    width: 40px;
    height: 2px;
    top: 35px;
    left: 1px;
}
.even h3{
    color: #fff;
    position: relative;
    font-size: 26px;
    font-family: var(--fontfamily1);
}
.even li{
    font-family: var(--fontfamily1);
    padding: 4px 0;
}
.even p{
    font-family: var(--fontfamily1);
}
.even button{
    /* border-radius: 100px; */
    
}
.even .carousel-item{
    /* padding: 20px 0; */
}
.even .img-even{
    /* border-right: 3px solid #454035;
    border-bottom: 3px solid #454035; */
    overflow: hidden;
}
.even .img-even img{
    transition: all ease-in-out 0.4s;
}
.even .img-even:hover img{
    transform: scale(1.1);
    /* filter: brightness(100%); */
}
@media (max-width:576px){
    .even .carousel{
        padding: 0 !important;
    }
    .even .carousel-inner{
        padding: 0 !important;
    }
}

/* reservation */
.reservation{
    background: #0c0b09;
}
.reservation input{    
    padding: 10px;
    background: transparent;
    border: 1px solid  #625b4b;
    border-radius: 5px;
    color: #fff !important;
}
.reservation textarea{
    background-color: transparent;
}
.reservation input:focus , .reservation textarea:focus{
    border: 1px solid  #cda45e;
    background: transparent;
}
.reservation input:hover, .reservation textarea:hover{
    background: transparent;    
}

.reservation input::placeholder{
    /* padding: 20px; */
    color: #fff !important;
}
.reservation input[type="Date"]:focus{
    color: #fff;
}
/* .reservation input::-webkit-calender{
    filter: in;
} */
.reservation textarea{
    width: 100%;
    height: 20vh;
    background: transparent;
}
/* @media (max-width:992px){
    .reservation input{
        width: 100%;
    }
} */

.reservation .btn{
    background: darkgoldenrod;
    font-family: var(--fontfamily2);
    color: #fff;
    padding: 8px 20px;
}
.reservation .btn:hover{
    background: darkgoldenrod;
    opacity: 0.8;
    color: #fff;
}
@media (max-width:576px){
    .reservation input{
        padding: 10px 30px;
    }
}



/* Testimonials */
.TestimonialsContainer{
    background: #1A1814;
}
.Testimonials{
       width: 100%;
    
}
/* .test-CardContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.test-card .card{
    background: none;   
    border: 0; 
}
.test-card .card .card-head{
    background: #625b4b;
    color: #fff;
    padding: 33px;
    /* position: relative; */
}
.test-card .card .card-body{
    padding: 17px;
    margin-top: -50px;
    /* position: absolute; */
    /* top: 10px; */
    /* bottom: -70px; */
    
}
.test-card .card .card-head p{
    font-style: italic;
    font-size: 20px;
}
.test-card .card .card-body h5{
    color: #BAB3A6;
    margin: 5px 0;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.test-card .card .card-body img{
    width: 70px;
    border: 5px solid #45403579;
}
.test-card .card .card-body p{
    font-family: 'Times New Roman', Times, serif;
    padding: 0 !important;
    color: #BAB3A6;
}
.test-card button{
    
}
.test-card .carousel-control-prev{
    /* margin-right: 200px !important; */
}
/* .Testimonials .test-card img{
    width: 70px;
    border-radius: 40px;
    border: 2px solid #AAAAAA;
} */
@media (max-width:576px){
    .test-card .card .card-head p{
        
        font-size: 16px;
    }
    .test-card .card .card-head{
        padding: 16px;
        /* position: relative; */
    }   
}

/* Gallery */
.Gallery{
    background: #0c0b09;
}
.Gallery .gallery-img{
    border-right: 3px solid #454035;
    border-bottom: 3px solid #454035;
    overflow: hidden;
}
.Gallery .gallery-img img{
    transition: all ease-in-out 0.4s;
}
.Gallery .gallery-img:hover img{
    transform: scale(1.1);
    /* filter: brightness(100%); */
}



/* ChefsContainer */
.ChefsContainer{
    background: #0c0b09;
}
.chefs .img{
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position:relative;
    overflow: hidden;
}
.chefs .img .member-info{
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.chefs .img .member-info-content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    transition: bottom 0.4s;
}
.chefs .img .member-info-content h4{
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    font-family: var(--fontfamily1);
    color: #AAAAAA;
}
.chefs .img .member-info-content span{
    color: #AAAAAA;
    font-size: 14px;
    font-family: var(--fontfamily2);
}
.chefs .img .social {
    position: absolute;
    left: 0;
    bottom: -10px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}
.chefs .img .social i{
    
}
.chefs .member .social i{
    /* transition: color 0.3s; */
    color: #AAAAAA !important;
    margin: 0 10px;
    /* text-align: center;
    display: inline-block; */
} 

.chefs .img:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}
.chefs .member:hover .social {
    bottom: 0;
    transition: bottom ease-in-out 0.4s;
}


/* ContactContainer */
.ContactContainer{
    background: #0c0b09;
}
.ContactContainer .details h6{
    color: #fff;
    font-size: 18x;
    font-family: "Poppines"sans-serif;
}
.ContactContainer .details p{
    color: #BAB3A6 !important;
    font-size: 14px;
}
.ContactContainer .details i{
    color: #fff;
    background: #cda45e;
    border-radius: 25px;
    font-size: 1rem;
    padding: 14px;
    margin: 10px ;
}
.ContactContainer form input{
    /* width: 45%; */
    color: #fff !important;
    background: transparent;
    outline: none;
} 
.ContactContainer .form-control{
    background: transparent;
    border: 2px solid darkgoldenrod;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    background: transparent;
    border-color: #625b4b;
    border-radius: 10px;
}
.ContactContainer .form-control:hover{
    background: transparent;
}
.ContactContainer  .form-control::placeholder{
    color: #fff !important;
    /* background: transparent; */
}
.ContactContainer input:focus , .ContactContainer textarea:focus{
    border-color: #cda45e;
    background: transparent;
    /* border: none ; */
    /* outline: none; */
    /* outline: 2px solid red; */
}
.ContactContainer form .btn{
    background: #cda45e;
    padding: 8px 35px;
    color: #fff;
    font-weight: 600;
    font-family: var(--fontfamily1);
}
.ContactContainer form .btn:hover{
    opacity: 0.8;
}
@media (max-width:576px){
    .details .location i{
        height: 40px;
        width: 40px;
    }
}


/* footer */
.footerContainer{
    /* color: #000000; */
}
.footer{
    background: #000000;
}
.footer p{
    color: #fff;
    font-size: 14px;
    font-size: var(--fontfamily2);
}
.footer h3{
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    font-family: var(--fontfamily1);
    font-weight: 400;
}
.footer h4{
    color: #fff;
    font-weight: 400;
    font-family: var(--fontfamily1);
    font-size: 14px;
    font-weight: 600;
}
.footer p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}
.footer a:hover{
    color: #cda45e;
}
.footer ul li{
    list-style-type: none;
    line-height: 25px;
}
.footer ul li a{
    text-decoration: none;
    font-size: 14px;
    font-family: var(--fontfamily1);
    color: #fff;
}

.footer input{
    /* width: 300px; */
    width: 50%;
    height: 40px;
    border-radius: 0 !important;
    /* background: #625b4b; */
    /* border: 15px solid #625b4b !important; */
    /* border-radius: 40px;
    border-right: 40px solid #fff;
    overflow: hidden; */
    /* border-radius: 40px 20px 40px 40px; */
}
.footer ul i{
    margin-right: 10px;
    color: #cda45e;
}

.footer .btn{
    background: #cda45e;
    /* position: absolute;
    width: 130px;
    margin-top: 10px;
    right: 130px;
    border-radius: 20px; */
    max-height: 40px;
    background: #cda45e;
    border: none;
    width: 100px;
    border-radius: 0 !important;
    overflow: hidden;
}
.footer .btn:hover{
    background: #cda45e;
    color: #fff;
}
.footer-end{
    background: #0c0b09;
    padding: 10px 0 !important;
} 
.footer-end p{
    font-size: 14px;
    font-family: var(--fontfamily1);
}
@media (max-width:576px){
    .footer .btn{
        height: 35px;
    }  
    .footer input{
        height: 35px;
    } 
    .foot p{
        font-size: 16px !important;
    }
}



















